In [1]:
import pandas as pd

In [6]:
tres = pd.read_csv("omp3.txt")
tres

       Set3
0   9.298856
1   9.272262
2   9.270300
3   9.328238
4   9.318785
..       ...
65  3.914730
66  3.879364
67  3.892059
68  3.906416
69  3.899852

[70 rows x 1 columns]